.mint-msgbox {
    background-color: #1C1E3D;
    max-width: 39.5rem;
    max-height: 50.13rem;
    border: 0px;
    z-index: 888;
}
.mint-msgbox-title{
    color: #7587E0;
    text-align: left;
    padding-left: 37px;
    // font-size: 32px;
}
.mint-msgbox-message{
    text-align: justify;
}
.mint-msgbox-content{
    color:#FFF1F2FA;
    border-bottom: 0px;
    overflow-y:scroll;
    max-height: 324px;
    max-width: 557px;
    padding: 10px 20px 45px;
    // font-size: 26px;
}
.el-message-box__btns{
    text-align: center;
}

.alert-confirm-button {
    background-color: #60c8c4;
    border-color:#60c8c4;
    color: #ffffff;
    margin-left:20px;
    margin-right: 20px;

}